@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  font-weight: bolder;
  color: var(--vt-c-electric);
  transition: 0.4s;

  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: var(--vt-c-electric);
}

nav a {
  border-radius: 50% 10% 0 0;
}

@media (hover: hover) {
  nav a:hover {
    border-radius: 100% 20% 0 0;
  }
}

@media (prefers-color-scheme: dark) {
  @media (hover: hover) {
    nav a:hover {
      background-color: hsla(244, 100%, 6%, 0.87);
    }
  }
}

@media (prefers-color-scheme: light) {
  a {
    color: var(--vt-c-dark-electric);

    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: var(--vt-c-dark-electric);
  }

  @media (hover: hover) {
    nav a:hover {
      background-color: hsla(59, 100%, 75%, 0.87);
    }
  }
}

@media (min-width: 1024px) {
  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
